<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="base" content="{{ config.base_url }}">
	<meta name="author" content="{{ config.author }}">
	<meta name="description" content="{{ config.description }}">
	<meta property="og:title" content="{{ config.author }}">
	<meta property="og:url" content="{{ config.base_url }}">
	<meta property="og:site_name" content="{{ config.title }}">

    <link rel="shortcut icon" type="image/png" href="https://danip.id/favicon.png">
	<link rel="canonical" href="{{ config.base_url }}">
	<link rel="alternate" type="application/atom+xml" title="{{ config.title }} - Atom Feed" href="{{ get_url(path="/atom.xml", trailing_slash=false) }}">
	<link rel="alternate" type="application/rss+xml" title="{{ config.title }} - RSS Feed" href="{{ get_url(path="/rss.xml", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

	{% if page.title %}
	<title>{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}</title>
	{% else %}
	<title>{% block title %}{{ config.title }}{% endblock %}</title>
	{% endif %}
</head>
