<header class="header-index">
    <div id="header-left">
        <img class="img-avatar" src="{{ get_url(path="/hc.gif", trailing_slash=false) }}" alt="Dani Pragustia avatar">
    </div>
    <div id="header-right">
        <header class="header-nav">
            <h2 class="header-main">Hallo!</h2>
            {% include "partials/navbar-right.html" %}
        </header>
        <p>I'm <b>Dani Pragustia</b>, I write software and technical articles technology in general, occasionally doing free software creation to make other peoples lives easier.</p>
        <p>Most of my project can be found on <a href="https://git.sr.ht/~danip">SourceHut</a>. Feel free contact me via <a href="mailto:dani@danip.id">email</a> (<a href="{{ get_url(path="/gpg.pub", trailing_slash=false) }}">PGP Key</a>)</p>
        <p>You can also find me on <a href="xmpp:dani@danip.id">XMPP</a> or SNS <a href="https://honk.danip.id/@dani">Fediverse</a></p>
        <p>If you interested to show me your project, story or just say hi, please send me email!</p>
        <p>You can write to me in English, Bahasa Indonesia, 日本語, русский (preferred, if you know the language).</p>
        <p>If you want to hire me feel free to contact me via email.</p>
    </div>
</header>
