<nav class="nav-right">
    <a href="{{ get_url(path="articles", trailing_slash=false) }}">Articles</a>
    <button data-big-toggle>Big Size</button>
    <button data-theme-toggle>
        <img class="icon" src="https://micahkepe.com/radion/icons/sun.svg" id="sun-icon" alt="Light mode">
        <img class="icon" src="https://micahkepe.com/radion/icons/moon.svg" id="moon-icon" alt="Dark mode">
    </button>
</nav>
