<img class="mb-2 img-fluid" alt="avatar" src="{{ "/assets/img/avatar.png" | relative_url }}">
<p class="bio-name">{{ site.author | escape }}</p>
<p>{{ site.bio_description | escape }}</p>
<p>I using <a href="https://github.com/danipragustia">Github</a> for mostly time, and also <a href="https://git.sr.ht/~danipragustia">Sourcehut</a> for mirror git.</p>
<p>You can reach me at <a rel="me" href="https://koyu.space/@danipragustia">Mastodon</a> or send me an <a href="mailto:danipragustia@disroot.org">email</a>.</p>
<p>Read more <a href="{{ "/about" | relative_url }}">about</a> me.</p>
<p>If you consider to donate and support my work. <a href="{{ "/donate" | relative_url }}">Click here</a></p>
<p>If you looking or missing something on this site, you can check on article index <a href="{{ "/articles" | relative_url }}">here</a>.</p>
<p>The content of this website is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.</p>
