{% macro page_listing(pages) %}
<ul id="articles">
    {%- for page in pages %}
    <li>
        <time datetime="{{ page.date }}" title="{{ page.date | date(format=config.extra.date_format) }}">{{ page.date | date(format=config.extra.date_format) }}</time>
        <span>-</span>
        <span>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </span>
    </li>
    {% endfor -%}
</ul>
{% endmacro list_posts %}

{% macro content(page) %}
<h1 class="article-title">{{ page.title }}</h1>
{% if page.date %}
<p><time datetime="{{ page.date }}" title="{{ page.date | date(format="%A, %d %h %Y") }}">{{ page.date | date(format=config.extra.date_format) }}</time></p>
{% endif %}
<article>
    <section class="body">
        {{ page.content | safe }}
    </section>
</article>
{% endmacro content %}
