body {
	padding-bottom:2rem;
}

.post-title {
	font-weight:bold;
}

.list-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bio-name {
	font-weight:bold;
	font-size:1.5rem;
}

.language-plaintext pre {
	background: #d0d0d0;
	padding:0.5em 2em;
}

.box-author {
	background:black;
	color:white;
	padding: 5px 10px;
}
