:root {
    --background-color: #fff;
    --text-color: #212529;
    --primary-color: #a65f35;
    --secondary-text-color: #999;
    --text-disabled-color: #B3B3B3;
    --font-size: calc(100% + 0.1vw);
    --big-font-size: calc(100% + 0.4vw);
    --dark-background-color: #212529;
    --dark-text-color: #fff;
    --dark-primary-color: #e38147;
}

[data-theme="dark"] {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
}

[data-size="big"] {
    --font-size: var(--big-font-size);
}

::-moz-selection, ::selection { /* Code for Firefox */
    color: #fff;
    background: var(--primary-color);
}

html {
    scrollbar-color: var(--primary-color);
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.5;
    background: var(--background-color);
    color: var(--text-color);
    margin: auto;
    padding: 1.5em 15px;
    max-width: 960px;
    
}

.dark {
    color-scheme: dark;
}

.img-avatar {
    width: 100%;
    height: auto;
    border-radius: 0.25em;
}

.header-index {
    display: flex;
    flex-flow: row;
    gap: 0.75em;
}

#header-left {
    flex-basis: 25%;
    min-width: 200px;
    padding: 0.25em;
}

.nav-right > * {
    margin-left: .25rem;
}

.page-title {
    font-size: 2rem;
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    gap: 1rem;
}

.article-title {
    font-size: 2.3rem;
}

@media (max-width: 640px) {
    .article-title {
        font-size: 1.9rem;
    }
    .header-index {
        flex-wrap: wrap;
    }
    .img-avatar {
        max-width: 200px;
    }
    #header-left {
        flex-basis: 100%;
        text-align: center;
    }
    header {
        flex-direction: column;
    }
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0.25em;
}

p {
    margin-top: 0;
    margin-bottom: 0.75em;
}

[data-theme-toggle] {
    border: 0 !important;
}

.icon {
    filter: invert(76%) sepia(17%) saturate(7153%) hue-rotate(327deg) brightness(92%) contrast(92%);
    width: 24px;
    height: auto;
}

.header-main {
    margin: 0;
}

a, [data-theme-toggle], [data-big-toggle] {
    text-decoration: none;
    border-bottom: 1px dashed var(--primary-color);
    color: var(--primary-color);
}

a:hover, [data-theme-toggle]:hover, [data-big-toggle]:hover {
    border-bottom: 1px solid var(--primary-color);
}

#articles {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

footer {
    margin: 3rem 0;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}

[data-theme-toggle], [data-big-toggle] {
    font-size: initial;
    padding: 0 !important;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-bottom: 1px dashed var(--primary-color);
}
