{% extends "base.html" %}

{% block main_content %}
<h2>Articles</h2>
<p>If you have a compatible reader, be sure to check out my <a href=""{{ get_url(path="/rss.xml", trailing_slash=false) }}>RSS feed</a> for automatic updates.</p>
{%- set section_item = get_section(path="_index.md") %}
{{ post_macros::page_listing(pages=section_item.pages) }}
{% endblock main_content %}
