{% import "macros/post.html" as post_macros %}
<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        {% block header_page %}
        <header class="header-nav">
            <a href="{{ config.base_url }}"><h1 class="page-title">{{ config.title }}</h1></a>
            {% include "partials/navbar-right.html" %}
        </header>
        {% endblock header_page %}

        {% block main_content %}
        <p>Nothing here?! Perhaps it should not happen</p>
        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </body>
    <script>
     function get_theme_setting(systemSettingDark) {
         const localStorageTheme = localStorage.getItem("theme");
         if (localStorageTheme !== null) {
             return localStorageTheme;
         }
         if (systemSettingDark.matches) {
             return "dark";
         }
         return "light";
     }

     function get_big_setting() {
         const big_storage = localStorage.getItem("size");
         if (big_storage !== null) {
             return (["big", "normal"].includes(big_storage) ? big_storage : "normal");
         }
         return "normal";
     }

     const systemSettingDark = window.matchMedia("(prefers-color-scheme: dark)");
     const button_theme = document.querySelector("[data-theme-toggle]");
     const button_big = document.querySelector("[data-big-toggle]");
     let currentThemeSetting = get_theme_setting(systemSettingDark);
     let currentBigSetting = get_big_setting();

     document.querySelector("html").setAttribute("data-theme", currentThemeSetting);
     document.querySelector("#sun-icon").style.display = currentThemeSetting === "dark" ? "none" : "inline-block";
     document.querySelector("#moon-icon").style.display = currentThemeSetting === "dark" ? "inline-block" : "none";
     document.querySelector("html").setAttribute("data-size", currentBigSetting);
     button_big.innerText = currentBigSetting === "big" ? "Normal Size" : "Big Size";

     button_theme.addEventListener("click", () => {
         const newTheme = currentThemeSetting === "dark" ? "light" : "dark";
         const isLight = (newTheme === "light")
         document.querySelector("#sun-icon").style.display = (isLight ? "inline-block" : "none");
         document.querySelector("#moon-icon").style.display = (isLight ? "none" : "inline-block");
         document.querySelector("html").setAttribute("data-theme", newTheme);
         localStorage.setItem("theme", newTheme);
         currentThemeSetting = newTheme;
     });

     button_big.addEventListener("click", () => {
         const newSize = currentBigSetting === "big" ? "normal" : "big";
         button_big.innerText = newSize === "big" ? "Normal Size" : "Big Size";
         document.querySelector("html").setAttribute("data-size", newSize);
         localStorage.setItem("size", newSize);
         currentBigSetting = newSize;
     })
    </script>
</html>
