---
layout: compress
---
<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>

  {% include head.html %}

</head>
<body>

    <div class="container">
	<header>
	    <h1 class="hero"><a class="box-author" href="{{ site.url }}">{{ site.author | escape }}</a> 'S BLOG</h1>
	</header>
	<div class="row pt-4">
	    <div class="col contents">
		{{ content }}
	    </div>
	    <div class="col">
		{% include bio.html %}
	    </div>
	</div>
    </div>
    
    {% include footer.html %}

</body>
</html>
