---
layout: default
---

<b class="mb-3"><span class="box-author">{{ site.author | escape }}</span> 's Blog</b>

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="pt-4 pb-3">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="text-secondary">
      {% if page.author %}
        {% if page.author_url %}
          <a href="{{ page.author_url }}">
        {% endif %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% if page.author_url %}
          </a>
        {% endif %}
        &bull;
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.config.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <button type="button" class="btn btn-secondary" id="btnFontsize" value="Normal">Size</button>
  </header>
  <div class="text-justify" itemprop="articleBody" id="content">
    {{ content }}
  </div>
  <p>Have comment about my post? Find a typo? or some feedback?. You can send an email to my public <a href="mailto:~danipragustia/public-inbox@lists.sr.ht?subject={{ page.title | escape }}">mailing list</a> or you can view other <a href="https://lists.sr.ht/~danipragustia/public-inbox">here</a>.</p>
</article>

{% include footer.html %}
